<div class="search-bar">
  <div class="container">
    <%= simple_form_for :search, method: :get, url: machines_path, wrapper: :inline_form,
      html: { class: "form-inline" }  do |f| %>
      <%= f.input :location, placeholder:
          if params[:search].nil? || params[:search][:location].nil?
            'location'
          else
            params[:search][:location]
          end
          %>



      <%= f.input :date, as: :date, html5: true, label: false, placeholder: 'date' %>
      <%= f.input :time, placeholder: 'time' %>
      <%= f.input :business_type, :collection =>  ["Cafe","Bar", "Gym", "Shopping Mall", "Coworking Space", "University & Libraries", "Other"], prompt: "What do you fancy my love?"
          # if params[:search].nil? || params[:search][:business_type].nil?
          #   :collection => ["Cafe","Bar", "Gym", "Shopping Mall", "Coworking Space", "University & Libraries", "Other"]
          # else
          #   placeholder: params[:search][:business_type]
          # end
          %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
