
  <div class="search-bar-index">
    <%= link_to "+", new_machine_path, class: "btn btn-ghost" %><%= render 'shared/searchbar' %>
  </div>

<div class="row">
  <div class="container col-4 ml-4">
    <div class="col">
      <% @machines.each do | machine | %>
        <div id="card-product-<%= machine.id %>" class="card-product my-2">
          <%= image_tag machine.img %>
          <div class="card-product-infos">
          <%= link_to machine.business_name, machine_path(machine) %>
          <p><%= machine.location %></p>
          <p><%= machine.machine_type %></p>
          <p><%= machine.price %> EUR</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col" id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>


