<h1><%= @machine.business_name %></h1>

<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
        <div class="booking-img-big mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80)">
        </div>

        <div class="booking-img-medium mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551761429-8232f9f5955c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2709&q=80)">
        </div>
        <div class="booking-img-small mt-3">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1510446418220-00d2e0a27795?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1268&q=80)">
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1511426306784-e59e1fcb914e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1268&q=80)">
         </div>
        </div>

    </div>

    <div class="col-6 mt-3">
        <div class="booking mt-3">
          <div class="card-product-info">
             <h1 style="color: #000000"> book now </h1>
              <br>
              <%= simple_form_for [@machine, @booking] do |f| %>
                <%= f.input :date, placeholder: 'dd/mm/yy' %>
                <%= f.input :time, placeholder: '00:00' %>
                <%= "#{@machine.price} Euro" %>
                <%= f.button :submit, class: 'btn btn-flat' %>
              <% end %>
          </div>
        </div>
    </div>
</div>

<%= link_to "Delete",
            machine_path(@machine),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Edit",  edit_machine_path %>


  <div class="container mt-5">

  </div>


