
<div class="container mt-4">
  <h1><%= @machine.business_name %></h1>
    <div id="btn-link">
      <%= link_to "View all ",  machines_path, class: 'text btn-link' %>
      <%= link_to "Edit ",  edit_machine_path, class: 'text btn-link' %>
      <%= link_to "Delete",
            machine_path(@machine), class: 'text btn-link',
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
</div>



<div style="margin-bottom: 100px !important;" class="container mt-4">
  <div class="row">
    <div class="col-8 mt-3">

    <div class="booking-img-big mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @machine.photos[0].key %>)">
    </div>


    <div class="booking-img-medium mt-3"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @machine.photos[1].key %>)">
    </div>

    <div class="booking-img-small mt-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @machine.photos[2].key %>)">
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @machine.photos[3].key %>)">
      </div>
      </div>
    </div>

    <div class="col-4 mt-3">
        <div class="booking mt-3">
          <div class="card-product-info">

             <p style="color: #FF7E79 "> Book your loads! </p>
              <br>
              <%= simple_form_for [@machine, @booking] do |f| %>
                <%= f.input :date,as: :date, html5: true, placeholder: 'dd/mm/yy', order: [:day, :month, :year] %>
                <%= f.input :time, placeholder: '00:00' %>



              <%= "Your total: #{@machine.price} Euro" %>
            <div class="row justify-content-center mt-4">

              <%= f.button :submit, 'Book', class: 'btn btn-flat' %>
              <% end %>
            </div>


            <div style="margin-top: 300px !important;" class="justify-content-center mt-4">
              <p style="color: #FF7E79"> Connect with friends! </p>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





